{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>

<div class="header">
  <h2 class="headline">Blogs</h2>
</div>

<div>
    <h2><a href="/">Login</a></h2>
</div>

<div class="row">
  <div class="leftcolumn">
    {% for username in usernames %}
    <div class="card">
      <a style="text-decoration: none; color: black;" href="/{{username}}">
        <h2>{{username}}'s Blog</h2>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

</body>
</html>